version: 2.1

orbs:
  gradle: circleci/gradle@2.2.0
  bats: circleci/bats@1.0.0

jobs:
  build:
    executor:
      name: gradle/default
      tag: "17.0"
    steps:
      - checkout
      - run: mkdir -p ./build-artifacts
      - gradle/with_cache:
          steps:
            - run: ./gradlew build -x test
      - run:
          name: Show the JARs
          command: ls -l build-artifacts
      - persist_to_workspace:
          root: ./
          paths:
            - build-artifacts

  smoke_test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - setup_remote_docker:
          version: 20.10.7
      - run:
          name: Show the JARs
          command: ls -l build-artifacts
      - run:
          name: Smoke Test
          command: make smoke
          environment:
            DOCKER_BUILDKIT: 1
            BUILDKIT_PROGRESS: plain
      - run:
          name: Extinguish the Flames
          command: make unsmoke

  smoke_machine:
    machine:
      image: ubuntu-2004:202107-02
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - bats/install
      - run:
          name: What's the BATS?
          command: |
            which bats
            bats --version
      - run:
          name: Smoke Test
          command: make smoke
          environment:
            DOCKER_BUILDKIT: 1
            BUILDKIT_PROGRESS: plain
      - store_test_results:
          path: ./smoke-tests/
      - store_artifacts:
          path: ./smoke-tests/report.xml
      - run:
          name: Extinguish the Flames
          command: make unsmoke


  publish_github:
    docker:
      - image: cibuilds/github:0.13.0
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: "Publish Release on GitHub"
          command: |
            echo "about to publish to tag ${CIRCLE_TAG}"
            ls -l ./publish-artifacts/*
            ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} ./publish-artifacts
  publish_maven:
    executor: gradle/default
    steps:
      - checkout
      - gradle/with_cache:
          steps:
            - run: mkdir -p ./publish-artifacts
            - run:
                name: "Publish Artifacts to Maven"
                command: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
            - run:
                command: |
                  shopt -s globstar
                  cp **/build/libs/*.jar ./publish-artifacts
            - persist_to_workspace:
                root: ./
                paths:
                  - publish-artifacts
            - store_artifacts:
                path: ~/publish-artifacts

filters_always: &filters_always
  filters:
    tags:
      only: /.*/

filters_publish: &filters_publish
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

matrix_executors: &matrix_executors
  matrix:
    parameters:
      executor:
        - name: gradle/default
          tag: "8.0"
        - name: gradle/default
          tag: "11.0"
        - name: gradle/default
          tag: "17.0"

workflows:
  version: 2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - gradle/test:
          <<: *matrix_executors
      - build:
          requires:
            - gradle/test
      - smoke_test:
          requires:
            - build
  build:
    jobs:
      - gradle/test:
          <<: *matrix_executors
          <<: *filters_always
      - build:
          requires:
            - gradle/test
          <<: *filters_always
      - smoke_machine:
          <<: *filters_always
          requires:
            - build
      - publish_github:
          context: Honeycomb Secrets for Public Repos
          requires:
            - publish_maven
          <<: *filters_publish
      - publish_maven:
          context: java_beeline
          requires:
            - build
          <<: *filters_publish
